* {
    box-sizing: border-box;
}

html {
    font-size: 100%;
    font-family: sans-serif;
}

img {
    display: block;
    object-fit: cover;
    width: 100%;

}


body {
    margin: 0;
    background-color: white;
    
}

/*----NAVIGATION AND HEADER----*/

header {
    max-height: 356px;
    padding: 31px 31px 80px 31px;
    background-image: url(../images/contactBannerMob.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    overflow: hidden;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

#logo {
    width: 72px;
}

#links {
    display: none;
}

#links a:hover {
    color: #d69177;
}

#links .active {
    color: #b9d480;
}

nav li {
    font-weight: 300;
    font-size: 0.8rem;
    list-style-type: none;
    margin-right: 40px;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 20px;
}

nav ul {
    display: none;
    list-style-type: none;
}

nav ul li {
    margin-right: ;
}

nav ul li:last-child {
    margin-right: 0;
}

nav ul li a {
    color: white;
    font-size: 0.75rem;
    text-decoration: none;
}

#navButton {
    color: white;
    font-size: 30px;
}

/* MOBILE MENU */

#menu {
    display: none;
    position: absolute;
    width: 100%;
    top: 80px;
}

#menu li a:hover {
    color: #d69177;
}

#menu li .active {
    color: #b9d480;
}


.displayMenu {
    display: block !important;
}

#menu ul {
    background-color: #3d6343;
    display: grid;
    
    height: calc(100vh - 80px);

    margin: 0;
    padding: 0;
    grid-gap: 10px;
    list-style: none;

}

#menu li {

    display: flex;
    justify-content: center;
    align-items: center;


    height: auto;
    background-color: #2a442e;
}

#menu a {
    color: white;
    text-decoration: none;
    background-color: #2a442e;

}

/*END OF NAVIGATION*/

#button1 {
    background-color: #D98F76;
    color: white;
    width: 120px;
    padding: 10px;
    margin: 0px;
    text-align: center;
    display: block;
    margin: 0 auto;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 0.1;
    border-radius: 5px;
}

#button1 a {
    color: white;
    text-decoration: none;
}

#button1 a:hover {
    color: #22452d;
}

/* TYPOGRAPHY */

#heading1 {
    margin: 60px 0 0 0;
    text-align: center;
    font-size: 2.2rem;
    font-family: 'Bebas Neue', cursive;
    font-weight: 400;
    letter-spacing: 1.1px;
    line-height: 2.5rem;
    color: white;
}

h4 {
    margin: 0;
    text-align: center;
    color: #B5CB6A;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    padding: 10px 0 25px 0;
    line-height: 1.375rem;
}

h2 {
    margin: 0px;
    text-align: left;
    font-size: 1.4rem;
    color: #6FC656;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    line-height: 1.75rem;
}

#subHeader {
    color: black;
    font-family: 'Open Sans', sans-serif;
    text-align: left;
    font-weight: 600;
    font-size: 0.95rem;
}

p {
    margin: 15px 0 0 0;
    text-align: left;
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    line-height: 1.375rem;
    font-weight: 400;
}


/*----MAIN----*/

#box1 {
    background-color: white;
    padding: 40px 31px 50px 31px;
}

#b1c1 {
    margin-bottom: 0px;
    margin-top: 0px;
}

#b1p1 {
    font-size: 1.025rem;
    margin: 30px 0;
    line-height: 1.9rem;
}

mark {
    background-color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.1rem;
    font-weight: 600;
}

#box1img1 {
    margin-top: 50px;
}




#box2 {
    background-color: #FDF3F2;
    padding: 50px 31px 70px 31px;
}

/*CONTACT FORM*/

form {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0px;
}

label {
    font-size: 1rem;
    margin-bottom: 20px;
    margin-top: 25px;
    font-family: 'Open Sans', sans-serif;
}

input {
    font-size: 1.25rem;
    background-color: #e0e0e0;
    margin-bottom: 0px;
    margin-top: 40px;
    padding: 10px;
}


textarea {
    background-color: #e0e0e0;
    font-family: 'Open Sans', sans-serif;
}

#submitButton {
    width: 150px;
    background-color: #6FC656;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 5px;
    margin-top: 50px;
}




/*----FOOTER----*/

#footerMob {
    background-color: #1E3621;
    padding: 10px 31px 0px 31px;
}

#footerHeaderMob {
    margin: 40px 0 0 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 0.9rem;
    color: white;
}

#footerMP {
    font-family: 'Open Sans', sans-serif;
    font-size: 0.8rem;
    line-height: 1.5rem;
    color: white;
    margin: 8px 0 0 0;
}

#footerMP a {
    color: white;
    text-decoration: none;
}

#footerMP a:hover  {
    color: white;
    text-decoration: underline;
}

#footerIconsMob {
    display: flex;
    flex-wrap: wrap;
}

#footerIcons {
    padding-bottom: 30px;
    margin: 15px 15px 0px 0;
    width: 15%;
}

.line {
    margin: 0 auto;
    color: #bcbcbc;
    border-width: 1px;
    margin-bottom: 20px;
}

#footer2Mob {
    font-family: 'Open Sans', sans-serif;
    font-size: 0.7rem;
    line-height: 1rem;
    color: #bcbcbc;
    text-align: center;
    padding-bottom: 35px;
    margin: 30px 0 0 0;
}


#footerDesktop {
    display: none;
}


/* MEDIA QUERIES */


@media screen and (min-width:640px) {
    /*GREATER THAN 750px */


    body {
        margin: 0;
        background-color: white;
    }


    html {
        font-size: 100%;
    }

    #logo {
        width: 120px;
    }

    /* NAVIGATION */
    
    /* HIDE THE NAV BUTTON ON BIGGER SCREENS */
    #navButton {
        display: none;
    }

    nav {
        max-width: 1140px;
        margin: 0 auto;
        justify-content: space-between;
    }

    #links {
        display: flex;
        padding-top: 25px;
        font-size: 0.1rem;
    }

    li {
        font-size: 0.66rem;
        margin-right: 30px;
    }

    header {
        max-height: none;
        padding: 30px 90px 20px 90px;
        height: 507px;
        background-image: url(../images/ourTeamBannerIpad.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    /*-----TYPOGRAPHY----*/

    #heading1 {
        margin: 130px 0 0px 0;
        font-size: 2.8125rem;
        letter-spacing: 1.1px;
        line-height: 3.375rem;
    }

    h4 {
        font-size: 1.125rem;
        line-height: 1.6rem;
    }

    #box3p {
        text-align: center;
        margin: 5px 0 0px 0;
    }

    #subHeader {
        font-size: 1.125rem; 
    }
    
    h3 {
        font-size: 0.94rem;
        line-height: 1.5rem;
        font-weight: 600;
        margin-top: 20px
    }
    
    p {
        line-height: 1.7rem;
    }
    

    /*-----MAIN----*/

    .card {
        margin-bottom: 0px;
        margin-top: 0px;
    }
    


    #box1 {
        padding: 70px 90px 70px 90px;
        margin: 0 auto;
    }
    
    #box1cont1 {
         display: grid;
         grid-template-columns: repeat(2, 1fr);
         grid-gap: 4vw;
    }
    
    #box1para {
        grid-column: 1/2;
        margin-bottom: 0px;
    }
    
    #box1img1 {
        grid-column: 2/4;
        margin-top: 0px;
    }
    

    #box2 {
        background-color: #FDF3F2;
        padding: 70px 90px 80px 90px;
        
    }
    
    #box2cont1 {
         
    }
    
    form {
    
    width: 50%;
    }

    
/*-----FOOTER-----*/
    

    #footerMob {
        display: none;
    }
    
    #footerDesktop {
        display: block;
        background-color: #1E3621;
        padding: 10px 90px 10px 90px;
    }
    
    #footerDeskBox1 {
        display: grid;
        grid-template-columns: repeat(4,1fr);
    }

    #footerHeaderDesk {
        margin: 40px 0 0 0;
        font-family: 'Open Sans', sans-serif;
        font-size: 0.75rem;
        color: white;
     }

     #footerDP {
        font-family: 'Open Sans', sans-serif;
        font-size: 0.65rem;
        line-height: 1.2rem;
        color: white;
        margin: 8px 0 0 0;
      }
    
     #footerDP a {
        color: white;
        text-decoration: none;
      }

     #footerDP a:hover  {
        color: white;
        text-decoration: underline;
      }
    
    #footerSpace {
        height: 15px;
    }

     #footerIconsDesk {
        display: grid;
        grid-template-columns: repeat(3,1fr);
         grid-gap: 5px;
    }
    
    #footerIconsD {
        width: 70%;
    }

     .lineDesk {
        margin-top: 30px;
        color: #bcbcbc;
        border-width: 1px;
        margin-bottom: 20px;
      }

     #footer2Desk {
        font-family: 'Open Sans', sans-serif;
        font-size: 0.7rem;
        line-height: 1rem;
        color: #bcbcbc;
        text-align: center;
        padding-bottom: 35px;
        margin: 30px 0 0 0;
      }

}

@media screen and (min-width:1440px) {

    /* GREATER THAN 1140px */
    body {
        margin: 0;
        background-color: white;
    }

    html {
        font-size: 120%;
    }

    #logo {
        width: 190px;
    }

    /* NAVIGATION */
    
    /* HIDE THE NAV BUTTON ON BIGGER SCREENS */
    #navButton {
        display: none;
    }

    nav {
        max-width: 1440px;
        margin: 0 auto;
        justify-content: space-between;
    }

    #links {
        display: flex;
        padding-top: 25px;
        font-size: 0.1rem;
    }

    li {
        font-size: 1rem;
        margin-right: 50px;
    }

    header {
        max-height: none;
        padding: 50px 244px 200px 244px;
        height: 950px;
        background-image: url(../images/ourTeamBannerDesk.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;

    }

    /*-----TYPOGRAPHY----*/

    #heading1 {
        margin: 220px 0 0px 0;
        font-size: 5.5rem;
        letter-spacing: 2.4px;
        line-height: 6.7rem;
    }

    h4 {
        font-size: 1.62rem;
        line-height: 2.9rem;
    }

    #button1 {
        font-family: 'Open Sans', sans-serif;
        font-size: 1.2rem;
        width: 190px;
        padding: 16px 0;
        margin-top: 20px;
    }
    
    h2 {
        margin-bottom: 0px;
    }
    
    h3 {
        font-size: 1.1rem;
        font-weight: 600;
        margin-top: 30px;
    }
    

    /*  MAIN  */


    #box1 {
        padding: 100px 244px 100px 244px;
        margin: 0 auto;
    }
    

    #box2 {
        background-color: #FDF3F2;
        padding: 100px 244px 100px 244px;  
    }
    
    form {
    width: 50%;
    }

  
    
    
/*-----FOOTER-----*/
    
    #footerMob {
        display: none;
    }
    
    #footerDesktop {
        display: block;
        background-color: #1E3621;
        padding: 20px 244px 20px 244px;
    }
    
    #footerDeskBox1 {
        display: grid;
        grid-template-columns: repeat(4,1fr);
    }

    #footerHeaderDesk {
        font-size: 0.8rem;
     }

     #footerDP {
        font-size: 0.76rem;
        line-height: 1.25rem;
      }

     #footerIconsDesk {
        display: grid;
        grid-template-columns: repeat(3,1fr);
         grid-gap: 5px;
    }
    
    #footerIconsD {
        width: 60%;
    }

     .lineDesk {
        margin-top: 30px;
        color:white;
        border-width: 1px;
        margin-bottom: 20px;
      }

     #footer2Desk {
        font-size: 0.68rem;
        line-height: 1rem;
      }



}
