* {
    box-sizing: border-box;
}

html {
    font-size: 100%;
    font-family: sans-serif;
}

img {
    display: block;
    object-fit: cover;
    width: 100%;
    height: 100%;
}


body {
    margin: 0;
    background-color: white;
    background-image: url(../images/homeBannerMobile.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}

/*----NAVIGATION AND HEADER----*/

header {
    max-height: 450px;
    padding: 31px 31px 80px 31px;
}

nav {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 50px;
    top:0; 
}

#logo {
    width: 72px;
    height: 43px;
}

#links {
    display: none;
}

li {
    font-weight: 300;
    font-size: 0.8rem;
    list-style-type: none;
    margin-right: 50px;
    color: #fff;
}

li:last-child {
    margin-right: 0;
}

#button1 {
    background-color: #D98F76;
    color: white;
    width: 120px;
    padding: 10px;
    margin: 0px;
    text-align: center;
    display: block;
    margin: 0 auto;
    font-family: 'Open Sans', sans-serif;
    font-size: 0.1;
    border-radius: 5px;
}

/* TYPOGRAPHY */

#heading1 {
    margin: 0;
    text-align: center;
    font-size: 2.2rem;
    font-family: 'Bebas Neue', cursive;
    font-weight: 400;
    letter-spacing: 1.1px;
    line-height: 2.5rem;
    color: white;
    padding-top: 110px;
}

h4 {
    margin: 0;
    text-align: center;
    color: #B5CB6A;
    font-family: 'Open Sans', sans-serif ;
    font-weight: 400;
    font-size: 1.01rem;
    padding: 5px 0 15px 0;
    line-height: 1.375rem;
}

#heading2 {
    color: white;
    line-height: 1.6rem;
    font-size: 1.2rem;
    font-weight: 600;
    text-align: center;
}

#heading2para {
    color: white;
    margin-top: 10px;
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    line-height: 1.375rem;
    font-weight: 400;
    text-align: center;
}

h2 {
    margin: 0;
    text-align: left;
    font-size: 1.4rem;
    color: #6FC656;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    line-height: 1.75rem;
}

h3 {
    margin: 25px 0 0 0;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.1rem;
    font-weight: 600;
}

p {
    margin: 15px 0 0 0;
    text-align: left;
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    line-height: 1.375rem;
    font-weight: 400; 
}

#box3h1 {
    text-align: center;
    margin-top: 30px;
}

#box3p {
    text-align: center;
    margin: 5px 0 50px 0;
    font-size: 0.85rem;
}


/*----MAIN----*/

#box1 {
    background-color: white;
    padding: 40px 31px; 
}

#box1cont1 {
    background-color: #84c464;
    padding: 15px;
    margin-bottom: 35px;
}

#box1img1 {
    margin-bottom: 35px;
}

#box1cont2 {
    margin-bottom: 15px;
}

#box2 {
    background-color: #FDF3F2;
    padding: 31px 31px 0px 31px;
}

#box2cont1{
    margin-bottom: 0px;
}

#box2card2 {
    background-color: #FDF3F2;
    padding: 31px;
}

#box2cont2 {
    margin-top: 0;
}

#b2c2 {
    margin-bottom: 40px
}

#box2img1 {
    margin-top: 40px;
}

.card:first-of-type {
    margin-top: 15px;
}

.card {
    margin-bottom:0px;
}

.card:last-of-type {
    margin-bottom: 25px;
}

#box3 {
    background-color: white;
    padding: 31px;
}

#box4 {
    background-color: white;
    padding: 31px 31px 50px 31px;
}

#box4logos {
    padding: 0 40px; 
    margin: 0 auto;
}

article {
    margin-top: 20px; 
}

#button2 {
    background-color: #D98F76;
    color: white;
    width: 120px;
    padding: 10px;
    margin: 0px;
    text-align: center;
    display: block;
    margin: 0 auto;
    font-family: 'Open Sans', sans-serif;
    font-size: 0.1;
    font-weight: 700;
    border-radius: 5px;
}

#footerBox1 {
    background-color: #1E3621;
    height: 75vh;
}


/* MEDIA QUERIES */


@media screen and (min-width:640px) { /*GREATER THAN 750px */
    

    body {
    margin: 0;
    background-color: white;
    background-image: url(../images/homeBanner.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    }

    
    html {
        font-size: 100%;
    }
    
    
    
    /* NAVIGATION */

    nav {
        max-width: 1024px;
        margin: 0 auto;
        justify-content: space-between;
    }

    #links {
        display: flex;
    }
    
    header {
        padding: 60px 127px 200px 127px;
        height: 800px;
        position: ;            
    }
    
    /*-----TYPOGRAPHY----*/
    
    #box3p {
    text-align: center;
    margin: 5px 0 0px 0;
    }
    
    /*-----MAIN----*/
    
    .card {
    margin-bottom: 0px;
    margin-top: 0px;
    }
    
    article {
    margin-top: 0px; 
    }
    
    #box1 {
        padding: 0 127px;
    }
    
    #box1cont1 {
        width: 37.5vw;
        height: 25vh;
        position: relative;
    }
    
    #box1img1 {
       width: 43vw;
        position: absolute;
        transform: translate(75%, -25% )
    }
    
    #box1cont2 {
        width: 28vw;
        margin-bottom: 70px
    }
    
    #box2 {
        padding: 50px 127px;
        
    }
    
    #box2card2 {
        padding: 0 127px;
        display: grid;
        grid-template-columns: repeat(4,1fr);
        grid-template-rows: repeat (4,1fr);
        grid-gap: 4vw;
    }
    
    #box2cont2 {
        grid-row: 1/2;
        grid-column: 1/3;
    }
    
    #box2img1 {
        grid-row: 3/;
        grid-column: 3/5;
    }
    
    #b2c2 {
        padding-bottom:40px;
    }
    
    #box3 {
        padding: 50px 127px;
    }
    
    #box3h1{
        padding-bottom: 30px;
    }
    
    #ourTeam {
        display: grid;
        grid-template-columns: repeat(4,1fr);
        grid-gap: 4vw;
    }
    
    #box3img1 {
        margin-top: 0;
    }
    
    #box4 {
        background-color: white;
        padding: 30px 127px;
    }
    
    #box4logos { 
        display: flex;
        flex-wrap: wrap;
    }
    
    #b4logo {
        height: 50%;
        margin: 0px 30px;
    }
    
    
    #footerBox1 {
        background-color: #1E3621;
        height: 30vh; 
    }
}

@media screen and (min-width:1440px) { /* GREATER THAN 1140px */
    body {
        margin: 0;
        background-color: yellow;
    }
    
}





