* {
    box-sizing: border-box; 
}

html {
    font-size: 100%;
    font-family: sans-serif;
}

ul,li {
    margin:0;
    padding: 0;
}

body {
    background-color: white;
    margin: 0px;
}

header {
    background-image: url(../images/homeBanner.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    min-height: 1080px;
}


.navBox {
    height: 350px; 
    background-color: #252525;
}

.nav1{
    display: flex;
    flex-wrap:wrap; 
    padding: 60px 244px 0px 244px;
}

.logo {
    width:90%;
    display: block;
}


nav {
    display: flex;
    background-color: ;
    font-size: 16px;
    color: white;
    font-family: 'Open Sans', sans-serif;
    margin: 20px 92px;
    
}

nav ul {
    display: flex;
}

nav li {
    list-style-type: none;
    display: block;
    padding: 30px; 
}

#buyNowBox {
    font-size: 25px;
    font-family: 'Open Sans', sans-serif;
    color: white;
    padding: 15px 0px 15px 0px;
    height: 65px;
    background: #ce927b;
    width: 207px;
    margin-top: 25px;
    margin-left: 30px;
    border-radius: 5px;
    text-align: center;
}


h1 {
    color: white;
    font-family: 'Oswald', sans-serif;
    font-size: 80px;
    letter-spacing: 2px;
    text-align: center;
    padding-top: 100px;
    margin-bottom: 0px;
}

h3 {
    color: #bed48a;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 33px;
    font-weight: 400;
    line-height: 55px;
    margin-top: 25px;
}

/*-------end of navigation and header--------*/

#content1 {
    height: 651px;
    width: 651px;
    background-color: #84c464;
    margin-top: 200px;
    margin-left: 244px;
    padding: 45px 70px ;
    position: relative;
}

#cont1heading {
    margin: 0px;
    font-size: 33px;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    color: white;
    font-weight: 600;
}

#cont1para {
    margin: 20px 50px 0 50px;
    font-family: 'Open Sans', sans-serif;
    font-size: 21px;
    text-align: center;
    color: white;
    line-height: 40px;
}

#img1 {
    margin-left: 823px;
    position: absolute;
    transform: translate(0%, -25% );
}

#content2 {
    margin: 80px 0px 0px 244px;
    width: 500px;
    height: 500px;
    position: absolute;
    background-color: ;
}

#cont2heading {
    margin: 0;
    font-size: 30px;
    font-family: 'Open Sans', sans-serif;
    color: #84c464;
}

#cont2para {
   font-family: 'Open Sans', sans-serif; 
    font-size: 18px;
    line-height: 32px;
    padding-top: 20px;
}


.content3 {
    width: 1920px;
    height: 1200px;
    background-color: #FDF3F2;
    margin: 950px 0px 200px 0px;
    padding: 80px 244px;
    display: flex;
    flex-wrap: wrap; 
}


#cont3h2{
    height: 1080px;
}

#cont3heading1 {
    margin: 0;
    font-size: 30px;
    font-family: 'Open Sans', sans-serif;
    color: #84c464;
}

#cont3para1 {
    margin: 0;
     font-family: 'Open Sans', sans-serif; 
    font-size: 18px;
    line-height: 32px;
    padding-top: 30px;
    padding-bottom: 80px;
}

#cont3heading2 {
    margin: 0;
    width: 686px;
    font-size: 30px;
    font-family: 'Open Sans', sans-serif;
    color: #84c464;
}

#cont3para2 {
    margin: 0;
     font-family: 'Open Sans', sans-serif; 
     width: 686px;
    font-size: 18px;
    line-height: 32px;
    padding-top: 30px;
    padding-bottom: 80px;
}

#cont3img1 {
    background-color: azure;
    width: 686px;
    height: 990px;
    margin-left: 60px;
}

#cont3img2 {
    background-color: azure;
    width: 686px;
    height: 520px;
   margin-bottom: 80px;
}

.content4 {
    background-color: white;
    height: 600px;
    width: 1920px;
    display: flex;
    flex-wrap: wrap; 
}

#cont4heading1 {
    width: 1920px;
    margin: 0 ;
    font-size: 30px;
    font-family: 'Open Sans', sans-serif;
    color: #84c464;
    text-align: center;
}

#cont41 {
   width: 314px; 
    margin: 50px 60px 50px 244px
}

#img {
    width: 314px;
    height: 314px;
    background-color: green;
}

#c4h5 {
    width: 314px;
    margin: 40px 0 10px 0;
    font-size: 24px;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}

#c4h6 {
    width: 314px;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    margin: 0 ;
    text-align: center;
    font-weight: 400;
}

#cont42 {
   width: 314px; 
    margin: 50px 60px 50px 0;
}

#cont43 {
   width: 314px; 
    margin: 50px 56px 50px 0;
}

#cont44 {
   width: 314px; 
    margin: 50px 244px 50px 0;
}

#button {
    background-color: #84c464;
    color: white;
    width: 230px;
    padding: 15px 15px 15px 10px;
    margin: 0px;
    text-align: center;
    display: block;
    margin: 0 auto;
    font-family: 'Open Sans', sans-serif;
    font-size: 25px;
    border-radius: 5px;
}

